@font-face {
  font-family: Poppins-Black;
  src: url(../../../assets/fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Italic;
  src: url(../../../assets/fonts/Poppins-Italic.ttf);
}
@font-face {
  font-family: Poppins-Thin;
  src: url(../../../assets/fonts/Poppins-Thin.ttf);
}
@font-face {
  font-family: Poppins-Reg;
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(../../../assets/fonts/Poppins-SemiBold.ttf);
}
