// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 820px;
$normal-breakpoint: 1200px;

// Colors
// MAIN COLOR:

$fontColor: #212121;
$mainColor: #0e72b5;
$secondaryColor: #fa9f3d;
$bgcColor: #cfdee8;

$warningColor: #ff0000;
$successColor: #008000;
