.home-page-wrapper {
  margin: 30px 10px;
  border-radius: 20px;
  overflow: hidden;
  outline: 1.5px solid $fontColor;

  .home-page {
    overflow: auto;
    height: 100%;
    background-color: $bgColor2;
  }
}
