.user-editor-wrapper {
  position: absolute;
  top: 2px;
  left: 0;
  padding-bottom: 48px;
  width: 100%;
  display: grid;
  place-content: center;

  .screen-user-editor {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.64);
  }

  .user-editor {
    position: relative;
    top: 40px;
    z-index: 2;
    margin: 0 8px;
    padding-bottom: 85px;
    color: $fontColor;
    background-color: #f4f5f7;
    border-radius: 5px;
    width: 550px;
    margin-bottom: 40px;

    .close {
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }
}
